<div>
	<h2>Diretivas Estruturais *ngIf</h2>
	<ng-container *ngIf="hide; else isFalse">
		<div>
			True
		</div>
	</ng-container>

	<ng-template #isFalse>
		<div>
			False
		</div>
	</ng-template>

	<button (click)="show()">Alterar</button>
</div>

<hr>

<div>
	<h2>Diretivas Estruturais *ngFor</h2>
	<div>
		<button (click)="addItems()">Adiciona Items</button>
		<button (click)="deleteItems()">Deletar Items</button>
	</div>
	<ul>
		<li *ngFor="let item of items; let i = index;">[{{i}}] {{item.nome}} </li>
	</ul>
</div>

<hr>

<form [formGroup]="form">
	<div>
		<h2>Diretivas Estrururais *ngSwitch</h2>
		<label> Digite um número:</label>
		<input type="number" formControlName="selectNumber" (click)="sumNumber()">
		<div class="d-flex justify-content-around" [ngSwitch]="selectNumber">
			<b *ngSwitchCase="0"> Daniel</b>
			<b *ngSwitchCase="1"> Zero</b>
			<b *ngSwitchCase="2"> Carlos</b>
			<b *ngSwitchCase="3"> Arthur</b>
			<b *ngSwitchCase="4"> Sara</b>
			<b *ngSwitchCase="5"> Siqueira</b>
			<b *ngSwitchCase="6"> Caio</b>
			<b *ngSwitchCase="7"> Gabriel</b>
			<b *ngSwitchCase="8"> Edson</b>
			<b *ngSwitchCase="9"> Matheus</b>
			<b *ngSwitchCase="10"> João</b>
			<b *ngSwitchDefault> Sem Resultado</b>
		</div>
	</div>
</form>

<hr>