<div>
	<app-title title="LifeHooks Angular"></app-title>
</div>

<div>
	<app-data-binding></app-data-binding>
</div>

<div>
	<app-diretivas-estruturais></app-diretivas-estruturais>
</div>

<div>
	<app-diretivas-atributos></app-diretivas-atributos>
</div>

<div>
	<app-ng-template></app-ng-template>
</div>

<div>
	<app-pipes></app-pipes>
</div>

<div>
	<app-new-component></app-new-component>
</div>

<div>
	<app-input [contador]="adicionarValor"></app-input>
</div>

<div>
	<app-output (enviarDados)="setDados($event)"></app-output>
	<ng-template [ngIf]="getDados">
		<b> {{getDados.nome}} </b>
		<b> {{getDados.idade}} </b>
	</ng-template>
</div>

<router-outlet></router-outlet>