<!--<app-title title="LifeHooks Angular"></app-title>

<app-data-binding></app-data-binding>

<app-diretivas-estruturais></app-diretivas-estruturais>

<app-diretivas-atributos></app-diretivas-atributos>

<app-ng-template></app-ng-template>

<app-pipes></app-pipes>

<app-new-component></app-new-component>

<app-input [contador]="adicionarValor"></app-input>

<app-output (enviarDados)="setDados($event)"></app-output>
<ng-template [ngIf]="getDados">
	<b> {{getDados.nome}} </b>
	<b> {{getDados.idade}} </b>
</ng-template>
<hr>
-->
<app-food-add></app-food-add>

<app-food-list></app-food-list>

<router-outlet></router-outlet>