<h1> ngClass e ngStyle</h1>
<div>
	<p [ngStyle]="{'height': height, 'display': flex, 'justify-content': center, 'align-items': center}"
		[ngClass]="{'active': valor, 'disabled': !valor}"> Testando ngClass e ngStyle!</p>
	<p [ngStyle]="{'height': height, 'display': flex, 'justify-content': center, 'align-items': center}"
		[ngClass]="{'active': !valor, 'disabled': valor}"> Testando ngClass e ngStyle!</p>
</div>

<hr>

<h1> NgModel</h1>
<div>
	<input [(ngModel)]="nome" type="text" placeholder="Digite seu nome...">
	<button type="submit" (click)="salvar()"> Salvar</button>
</div>
<ul>
	<li *ngFor="let item of list">{{item.nome}} </li>
</ul>

<hr>